########################################
# 打包
########################################
build/*
!build/*.bat
!build/*.sh
!build/*.ps1
*.exe
target/

########################################
# 编辑器
########################################
.vscode/
.idea/
**/*.swp

########################################
# 系统
########################################
.DS_Store
Thumbs.db

########################################
# 本地脚本（不提交）
########################################
deploy.bat
