########################################
# 打包
########################################
build/*
!build/*.bat
!build/*.sh
*.exe

########################################
# 编辑器
########################################
.vscode/
.idea/

########################################
# 系统
########################################
.DS_Store
Thumbs.db

########################################
# 本地脚本（不提交）
########################################
deploy.bat
